@use 'base/variables' as v;
@use 'base/mixins' as m;

$imagen1: '../img/imagen4.jpg'; // La imagen que ya tienes
//$imagen2: '../img/imagen7.jpg'; // Segunda imagen que agregas

.contenedor-app {
    display: grid;
    grid-template-columns: 1fr;
    min-height: 100vh;

    // Mostrar dos columnas solo en tablets y dispositivos más grandes
    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    .imagen {
        //background-image: url(../img/imagen4.jpg);//Esta es la imagen de fondo de la clinica \
        background-image: url(#{$imagen1}); // Usando la primera imagen-NUEVO
        background-size: cover;
        background-position: center center;
        min-height: 100vh;

        //animation: alternarImagenes 20s infinite; // Agrega la animación de fondo-NUEVO

        // Ocultar la imagen en pantallas más pequeñas
        @media (max-width: 767px) {
            display: none;
        }
    }

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        position: relative;  // Esto es importante para posicionar los logos dentro del login


        @media (max-width: 768px) {
            padding: 2rem 0;
        }

        .nombre-pagina {
            text-align: center;
            margin-bottom: 20px;
        }

        // Estilo del logo en la esquina superior derecha
        .logo {
            border-radius: 50%;
            position: absolute;
            top: 10px;
            right: 10px;
            width: 8vw;
            max-width: 100px;
            min-width: 50px;

            @media (max-width: 768px) {
                width: 15vw;
                top: 5px;
                right: 5px;
            }
        }

        // Estilo del logo en la esquina superior izquierda
        .logo2 {
            border-radius: 50%;
            position: absolute;
            top: 10px;
            left: 10px;
            width: 8vw;
            max-width: 100px;
            min-width: 50px;

            @media (max-width: 768px) {
                width: 15vw;
                top: 5px;
                left: 5px;
            }
        }

    }

}


.barra{
    margin-bottom: v.$separacion;

    @include m.tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .boton{
        @include m.boton(v.$negro, v.$blanco);
        & {
            margin: 0; // Encapsulado dentro de & {}
        }
    }
}